#header, .module caption {
    background: #3F4137;
}

#content-related {
    background: #3F4137;
}

div.breadcrumbs {
    background: #6A6E5D;
    padding: 10px 40px;
    border: none;
    color: var(--breadcrumbs-fg);
    text-align: left;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: left;
    background: #6A6E5D;
    color: var(--header-link-color);
}